<form action="/add" method="POST">
    <p>Titulo: </p>
    <input type="text" name="titulo">
    <p>Conteudo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>

<!-- method, forma como o formulario vai ser enviado para o backend

Dentro do HTML, tem 2 jeitos de enviar pro backend, GET e POST

Qual a diferença dos 2 ? 

GET: Envia os dados pela URL 
ex: http://localhost:3000/umarotaqq?titulo=Qualquer+coisa+&conteudo=aslk%C3%A7djasldksakldasasdasdadsadsad 

POST: Ele não passa os dados pela URL, ele passa de outra forma
ex: http://localhost:3000/umarotaqq -->